<h4> Ask a question </h4>

<div class="row">
	<div class="col-md-4">	
		<div class="form-inline">
			<div class="form-group">
				<%= text_field_tag :search, params[:search], placeholder: "Search Questions", class: 'form-control'%>
				<%= link_to "Ask a question", "#question-modal", 'data-toggle': 'modal', class: 'btn pmd-ripple-effect btn-primary pmd-z-depth', id: 'askaquestion' %>
			</div>
		</div>
	</div>
</div>



	<%= render partial: "questions/question_modal", layout: false %>


<!-- <div class="row">
	<%#= form_for @question do |form| %>
		<%#= render partial: '/questions/form', object: form %>
		<div>
			<%#= form.submit %>
		</div>
	<%# end %>
</div> -->

<br>
<br>


<% @questions.each do |x| %>
		<%= link_to (x.title), question_path(x) %>

		<%= x.content %>

		<% if current_user.student? %>
			<p> Posted by Anonymous </p>
		<% else %>
			<p> Posted by <%= x.user.name %> </p>
		<% end %>
		

		<br>
<% end %>