<br>
<br>

<%= @question.title %>
<%= @question.content %>

<br>

<% if current_user.student? %>
	<p> Posted by Anonymous </p>
<% else %>
	<p> Posted by <%= @question.user.name %> </p>
<% end %>

<% if current_user.mentor? %>
	<%= form_for @answer do |form| %>
		 <%= hidden_field_tag 'question_id', @question.id %>
		<%= render partial: '/answers/form', object: form %>
		<%= form.submit 'Answer' %>
	<% end %>
<% end %>			